    
      .card {
        border: 3px solid #000;
      }
      .menu-btn {
        text-align: left;
        padding: 12px 20px;
        margin-bottom: 8px;
      }
      .menu-btn.active {
        background-color: #000 !important;
        color: white !important;
        border-color: #000;
      }
      .letra-s {
    display: grid;
    grid-template-columns: repeat(5, 42px);
    gap: 6px;
    width: fit-content;
    margin: 10px auto;   /* antes era 25px auto */
    padding: 15px;
    background: #f8f9fa;
    border-radius: 8px;
}
      .pixel {
        width: 42px;
        height: 42px;
        background: #ddd;
      }
      .pixel.activo {
        background: #f0c14d;
      }
      .header-title {
        background-color: white;
        color: black;
      }
    