body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #e6f7ff, #ffffff); /* Nuevo fondo celeste */
    color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* Tarjeta centrada */
.card {
    background: rgba(255, 255, 255, 0.92);
    padding: 25px 35px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.18);
    width: 380px;
    height: auto;
    text-align: center;
}

/* Nuevo color para el título */
h1 {
    color: #006699; /* Azul más oscuro */
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #bbb;
    border-radius: 6px;
    width: 100%;
}

button {
    background-color: #ff9800; /* Naranja */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #e68900; /* Naranja más oscuro */
}

p {
    margin-top: 10px;
}

#listaDB {
    font-weight: bold;
    color: #333;
}

#promedioDB {
    font-style: italic;
    color: #444;
}

#registroInputs {
    margin-top: 20px;
}

.medicionInput {
    margin: 5px;
    width: 80%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
}