body {
    background: #e7f0ff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: white;
    padding: 25px;
    width: 360px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #003060;
}

.info {
    background: #d9ecff;
    padding: 10px;
    border-left: 4px solid #005cbf;
    border-radius: 6px;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background: #005cbf;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #004b9d;
}

.resultado {
    margin-top: 15px;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

/* Colores TRIAGE */
.rojo { background: #ffb3b3; border-left: 5px solid red; }
.amarillo { background: #fff3b3; border-left: 5px solid #e6c300; }
.verde { background: #bfffbf; border-left: 5px solid #00b300; }
.azul { background: #cce6ff; border-left: 5px solid #0066cc; }
.error { background: #ffe6e6; border-left: 5px solid #cc0000; }
