body {
    background: #f0f8ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container {
    background: white;
    padding: 25px;
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.18);
}

h1 {
    text-align: center;
    color: #004466;
}

.info {
    background: #e5f4ff;
    padding: 10px;
    border-left: 4px solid #007acc;
    border-radius: 6px;
    margin-bottom: 18px;
}

/* Botón */
button {
    width: 100%;
    padding: 12px;
    background: #007acc;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background: #005f99;
}

/* Resultado */
.resultado {
    padding: 12px;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Barra de puntuación */
.barraContainer {
    width: 100%;
    height: 25px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.barra {
    height: 100%;
    width: 0%;
    transition: width 0.7s;
}

/* Colores de SpO2 */
.normal { background: #28a745; }
.riesgo { background: #ffc107; }
.bajo { background: #dc3545; }
